body {
  font-family: "Arial";
}

#board{
    text-align: "center";
}

.board-square{
  height: 80px;
  width: 80px;
  background-color: #717572;
}

.board-spacer{
  height: 80px;
  width: 80px;
  background-color: #ffffff;
}

.board-repeat{
  background-color: #4e524f;
}

.piece{
  height: 75%;
  width: 75%;
  margin: 12.5%;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.guide-self{
  height: 50%;
  width: 50%;
  margin: 25%;
  border-radius: 50%;
  background-color: white;
}

.guide-opp{
  height: 64%;
  width: 64%;
  display:inline-block;
  margin-top: 18%;
  border-radius: 50%;
  background-color: white;
}

.magazine-piece{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: grey;
}
